* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lighter: #efc6e6;
  --light: #d28ed2;
  --dark: #a952a9;
  --darker: #5f0e60;
  --white: #ffffff;
  --black: #000;
}

html, body {
  min-height: 100%;
}

main{
  min-height: calc(100vh - 250px);
}

.wrapper {
  font-weight: 700;
  font-family: 'Aladin', cursive;
  background-color: var(--lighter);
  color: var(--darker);
  font-size: 20px; 
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--darker);
  opacity: 1;
  transition: all 0.2s ease-in;
}
a:hover{
  opacity: 2;
}

li {
  list-style: none;
}
h1, h2, h3 {
  font-family: 'Aladin', cursive;
}